#form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#google_logo {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none; /* Ensure the image size remains the same */
    width: 400px; /* Set a fixed width */
    height: auto;
}

#images_google{
	position: fixed;
    left: 40%;
    transform: translate(-50%, -50%);
    max-width: none; /* Ensure the image size remains the same */
    width: 400px; /* Set a fixed width */
    height: auto;

}

#advanced_google{
	position: fixed;
    left: 60%;
    transform: translate(-50%, -50%);
    max-width: none; /* Ensure the image size remains the same */
    width: 400px; /* Set a fixed width */
    height: auto;
	
}

#center_links {
	position: fixed;
	top: 42%;
    text-align: center;
}